In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
from rankfm.rankfm import RankFM
from rankfm.evaluation import hit_rate, precision, recall

In [4]:
from sklearn.model_selection import train_test_split

In [7]:
saranyu_data = pd.read_excel("../data/Userdataxmetrics.xlsx")

In [8]:
saranyu_data["u_content_id"] = saranyu_data["Content Id"] + saranyu_data["Catalog id"]

In [9]:
len(saranyu_data["u_content_id"].unique())

4413

In [10]:
als_data = saranyu_data[["User Id", "u_content_id"]]
als_data.head()

   User Id                                      u_content_id
0  4139925  5f22f3eca609d206c800c6ea5b8d119ac1df411ca70000c1
1  6574673  5bbae9b5c1df41235200000c5b8d119ac1df411ca70000c1
2  5157378  5e380d9aed8f7d087a0000045c8794d0a58c4046c8000235
3  6574804  5cbf32c8ed8f7d11e80005425b8d119ac1df411ca70000c1
4  6574804  5f22f3eca609d206c800c6ea5b8d119ac1df411ca70000c1

In [11]:
X_train, X_test, y_train, y_test = train_test_split(als_data, als_data, test_size=0.33, random_state=42)

In [12]:
c_vc= X_train["u_content_id"].value_counts()

In [13]:
c_vc[c_vc>100]

5f169473a609d206c800673e5f168feca609d206c800673d    2994
5ba9f639c1df41479a0000cd5b8e9148c1df41291800009a    2971
5f1adfa1a609d206c8008c185f168feca609d206c800673d    1570
5f2c38d9a609d206c800f9c35b8d119ac1df411ca70000c1    1206
5f1adfa1a609d206c8008c145f168feca609d206c800673d     964
                                                    ...
5dd7db4eed8f7d6af6002bd35b8e9148c1df41291800009a     104
5ba8cdadc1df413dae0002595b8d1076c1df411ca70000c0     102
5cc1b073ed8f7d76e900001c5b8d1076c1df411ca70000c0     102
5b9fb6c7c1df4145340001175b8d1076c1df411ca70000c0     101
5d28aff0ed8f7d2a040002335b8d1076c1df411ca70000c0     101
Name: u_content_id, Length: 133, dtype: int64

In [14]:
model = RankFM(factors=50, loss='warp', max_samples=20, alpha=0.01, sigma=0.1, learning_rate=0.20, learning_schedule='invscaling')
model.fit(X_train, epochs=20, verbose=True)

training epoch: 0
log likelihood: -35155.44921875

training epoch: 1
log likelihood: -34367.609375

training epoch: 2
log likelihood: -33633.921875

training epoch: 3
log likelihood: -32450.619140625

training epoch: 4
log likelihood: -31186.099609375

training epoch: 5
log likelihood: -29975.619140625

training epoch: 6
log likelihood: -28617.3203125

training epoch: 7
log likelihood: -27658.76953125

training epoch: 8
log likelihood: -26648.55078125

training epoch: 9
log likelihood: -25759.740234375

training epoch: 10
log likelihood: -24957.630859375

training epoch: 11
log likelihood: -24139.9296875

training epoch: 12
log likelihood: -23431.060546875

training epoch: 13
log likelihood: -22665.4609375

training epoch: 14
log likelihood: -21903.73046875

training epoch: 15
log likelihood: -21367.580078125

training epoch: 16
log likelihood: -20800.2890625

training epoch: 17
log likelihood: -20346.4609375

training epoch: 18
log likelihood: -19783.41015625

training epoch: 19
log likelihood: -19326.599609375

In [15]:
model.recommend(saranyu_data["User Id"][0:4], n_items=3)

,0,1,2
User Id,,,
4139925,5f169473a609d206c800673e5f168feca609d206c800673d,5ba9f639c1df41479a0000cd5b8e9148c1df41291800009a,5f1adfa1a609d206c8008c185f168feca609d206c800673d
6574673,5ba9f639c1df41479a0000cd5b8e9148c1df41291800009a,5f169473a609d206c800673e5f168feca609d206c800673d,5bbae9b5c1df41235200000c5b8d119ac1df411ca70000c1
5157378,5ba9f639c1df41479a0000cd5b8e9148c1df41291800009a,5f169473a609d206c800673e5f168feca609d206c800673d,5f1adfa1a609d206c8008c185f168feca609d206c800673d
6574804,5f169473a609d206c800673e5f168feca609d206c800673d,5ba9f639c1df41479a0000cd5b8e9148c1df41291800009a,5f1adfa1a609d206c8008c185f168feca609d206c800673d

In [16]:
als_data[0:10]

   User Id                                      u_content_id
0  4139925  5f22f3eca609d206c800c6ea5b8d119ac1df411ca70000c1
1  6574673  5bbae9b5c1df41235200000c5b8d119ac1df411ca70000c1
2  5157378  5e380d9aed8f7d087a0000045c8794d0a58c4046c8000235
3  6574804  5cbf32c8ed8f7d11e80005425b8d119ac1df411ca70000c1
4  6574804  5f22f3eca609d206c800c6ea5b8d119ac1df411ca70000c1
5  6574849  5cdc2c3bed8f7d7618002a275c8794d0a58c4046c8000235
6  6574849  5e380d9aed8f7d087a0000045c8794d0a58c4046c8000235
7  6574847  5ba9f639c1df41479a0000cd5b8e9148c1df41291800009a
8  6574876  5ba8d46ec1df413dae0002c55b8d119ac1df411ca70000c1
9  6574836  5dd66f49ed8f7d6af600216b5c94ebaeed8f7d5ede004ddf

In [17]:
hit_rate(model, X_test, k=10)

0.391240398757967

In [18]:
print (X_test[:10])

        User Id                                      u_content_id
62789   6768505  5f169473a609d206c800673e5f168feca609d206c800673d
52765   6769466  5ba90b6dc1df413dae0004315b8d1076c1df411ca70000c0
58359   3018314  5f359fbfa609d2069f0028ca5b8d119ac1df411ca70000c1
47138   6684344  5f37ffbfa609d2069f0036c25c94ebaeed8f7d5ede004ddf
35768   6646717  5f1adfa1a609d206c8008c145f168feca609d206c800673d
23767   4975226  5c8a7f5ea58c4046b30030d85c8794d0a58c4046c8000235
45625   4988432  5baa33c3c1df41479a0002e95b915374c1df4113ce00004e
54027   6217109  5dd7dc8aed8f7d6af6002be05b8d1295c1df411ca70000c2
84547   4894117  5f3ebf67a609d2069f00644c5b8d119ac1df411ca70000c1
106575  4150972  5ece960fa609d248b90006cd5b8d119ac1df411ca70000c1

In [19]:
hit_rate(model, X_test, k=1)

0.08065043307730022